<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
   </head>

   <body>
      <h1>Hello, World!</h1>
      <h2>The date and time on the server is: {{ time }}</h2>
<input type="button" name="lien1" value="Press the button"
 onclick="self.location.href='/showimage'" style="background-color:#3cb371" 
style="color:white; font-weight:bold"onclick>

<input type="button" name="lien2" value="not yet there"
 onclick="self.location.href='/resetimage'" style="background-color:#1ab171" 
style="color:white; font-weight:bold"onclick>

   </body>
</html>